<%- include('partials/header') %>

        <header>
            <div class="header-content content-width">
                <nav class='header-left'>
                    <div class="menu-bars">
                        <i class="fa fa-bars" aria-hidden="true"></i>
                    </div>
                    <div class="nav-menu">
                        <div class="cross">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </div>
                        <div class="profile">
                            <div class="profile-image"><img src="<%= user.thumbnail %>" alt="profile-image"></div>
                            <div class="profile-name"><%= user.username %></div>
                        </div>
                        <ul>
                            <li><a href='/profile/user'><i class="fa fa-user-circle" aria-hidden="true"></i> Profile</a></li>
                            <% if(user.newOrder[0]){ %>
                                <li><a href="/profile/order/next-<%=user.newOrder[0].date%>"><i class="fa fa-shopping-basket" aria-hidden="true"></i> Your orders</a></li>
                            <% } else { %>
                                <li><a href="#"><i class="fa fa-shopping-basket" aria-hidden="true"></i> Your orders</a></li>
                            <% } %>                            
                            <li><a href='#'><i class="fas fa-wallet" aria-hidden="true"></i> Wallet</a></li>
                            <li><a href="/auth/logout"><i class="fa fa-sign-out"></i> Logout</a></li>
                            <%if(user._id=="5f0ab737026fed33545e4023") {%>
                                <li><a href="/auth/admin"><i class="fa fa-user-circle" aria-hidden="true"></i> Admin</a></li>
                            <% }%>    
                        </ul>
                    </div>
                </nav>
                <div class="header-right">
                    <h1>Farm Milk</h1>
                    <div class="wallet">
                        <i class='fas fa-wallet'></i>
                        <span class="wallet-amount"><%= user.wallet%></span>
                    </div>                    
                </div>
            </div>
        </header>


        <main>
            <div class="main-content content-width">
                <h3>Choose a date to order.</h3>
                <div class="date-btns">
                    <% btns.forEach((key)=>{ %>
                        <%if(key.class=="green"){ %>
                            <a class="btn" style="border:1px solid #065c2a" href="/profile/order/done-<%=key.date %>"><%= key.date %><span class='green'></span></a>
                        <% }if(key.class=="blue"){%>
                            <a class="btn" style="border:1px solid #0b90c5" href="/profile/order/next-<%= key.date%>"><%= key.date %><span class='blue'></span></a>
                        <% }if(key.class==null ){ %>
                            <a class="btn" href="/profile/order/now-<%= key.date%>"><%= key.date %></a>
                        <% } %>
                    <%})%>
                    
                </div>
            </div>
        </main>


        <footer>
            <div class="footer-content content-width">
                <div class="footer-left">
                    <div class="footer-left-content">
                        <div class="done-div">
                            <div class="green">
    
                            </div>
                        </div>
                        <div class='completed'>delieverd</div>
                    </div>                    
                </div>
                
                <div class="footer-right">
                    <div class="footer-right-content">
                        <div class="upcoming-div">
                            <div class="blue">
    
                            </div>
                        </div>
                        <div class='upcome'>upcoming</div>
                    </div>
                </div>
            </div>
        </footer>
        
        <script src="/main.js"></script>
       <%- include('partials/footer') %>