<%- include('partials/header') %>
<header class="admin-header">
    <a href="/profile" class="homeBTN"><i class="fa fa-home" aria-hidden="true"></i></a>
    <p>Profile</p>
</header>
<main class="user-profile-wrapper">
    <div class="userImage">
        <img src="<%= user.thumbnail%>" alt="user-image" width='100'>
    </div>
    <div class="labels">
        <i class="fa fa-user-circle" aria-hidden="true"></i>
        <input class="name" value="<%= user.username%>" readonly/>
    </div>
    <form action="/save-address" method="POST">
        <% if(user.address){ %>       
            <div class="labels">
                <i class="fa fa-building" aria-hidden="true"></i>
                <input type="text" name="flat" placeholder="Flat No. & Society..." value="<%= user.address.flat %>" required/>
            </div>
            <div class="labels">
                <i class="fa fa-university" aria-hidden="true"></i>
                <input type="text" name="sector" placeholder="Sector & City..." value="<%= user.address.sector %>" required/>
            </div>
            <div class="labels">
                <i class="fa fa-address-card" aria-hidden="true"></i>
                <input type="text" name="pin" placeholder="PIN Code..." value="<%= user.address.pin%>" required/>
            </div>
        <% } else { %>
            <div class="labels">
                <i class="fa fa-building" aria-hidden="true"></i>
                <input type="text" name="flat" placeholder="Flat No. & Society..." required/>
            </div>
            <div class="labels">
                <i class="fa fa-building" aria-hidden="true"></i>
                <input type="text" name="sector" placeholder="Sector & City..." required/>
            </div>
            <div class="labels">
                <i class="fa fa-address-book" aria-hidden="true"></i>
                <input type="text" name="pin" placeholder="PIN Code..." required/>
            </div>
        <% } %>    
        <button class="btn-save crimsonBTN">Save</button>
    </form>
</main>

<%- include('partials/footer') %>